body {
    font-family: roboto;
}

.main {
    background-color: rgb(31, 108, 157);
    color: white;
}

.center {
    text-align: center;
    color: aquamarine;
}

.section1 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.section2 {
    display: flex;
    justify-content: center;
}

.input-task {
    padding: 10px;
    width: 300px;
    margin-right: 30px;
    border-radius: 10px;
}

.button {
    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.box {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.box-title {
    background-color: aqua;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 6px;
    font-weight: bold;
}

.items {
    padding: 10px;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    cursor: pointer;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.crossButton {
    cursor: pointer;
    color: red;
}